# Node Modules that are downloaded upon running npm install
node_modules

# Desktop Services Store file for Mac OS
.DS_Store

# Any debug logs generated
*.log

# Static public files generated at compile time
public

# Any compiled or minified files
compiled
