# Node Modules that are downloaded upon running npm install
node_modules

# Desktop Services Store file for Mac OS
.DS_Store

# Any debug logs generated
*.log

# Any compiled or minified files
client/public/images
client/public/javascript
client/public/css
